hr_signed<br>
<table class="mytables">
	<% @contracts.each do |c| %>
	<tr> 
		<td><%= link_to "#{c.file.filename}", url_for(c.file), class: "butt round", target: "_blank" if c.file.content_type == 'application/pdf' %></td>
		<td><%= c.year %></td>
		<td><%= c.kind %></td>
		<td><%= c.hr_signed %></td>
	</tr>
	<% end %> 

</table>


t.string "source"
    t.string "kind"
    t.string "year"
    t.integer "member_id"
    t.text "notes"
    t.boolean "ee_sign"
    t.date "ee_signed"
    t.date "hr_signed"
    t.date "gsm_signed"
    t.date "gm_signed"
    t.date "dir_op_signed"
    t.date "effective_date"
    t.boolean "draw"
    t.boolean "salary"
    t.boolean "hourly"
    t.boolean "duplicate"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.boolean "commissions"
    t.boolean "nocomcal"
    t.boolean "er_sign"
    t.boolean "mention_pack"