<h1>Editing verification</h1>

<%= render "form", verification: @verification %>

<br>

<div>
  <%= link_to "Show this verification", @verification %> |
  <%= link_to "Back to verifications", verifications_path %>
</div>
