<h1>Editing procedural history</h1>

<%= render "form", procedural_history: @procedural_history %>

<br>

<div>
  <%= link_to "Show this procedural history", @procedural_history %> |
  <%= link_to "Back to procedural histories", procedural_histories_path %>
</div>
