<p style="color: green"><%= notice %></p>
<%= link_to "New pos", new_po_path %>
<h1>Pos</h1>

<div id="pos">
  <% @pos.each do |po| %>
    <%= render po %>
    <p>
      <%= link_to "Show this po", po %>
    </p>
  <% end %>
</div>


