<h1>Pages#home</h1><br>
<h3>Valid Contract = Commission Contract + Er signed + Ee signed</h3>
<ul>
	<li><%= link_to "Review Member Contracts", pages_review_path %></li>
</ul>
<br>
<%= link_to "Sandbox - FOO", sandbox_foo_path %><br> 
<%= link_to "Sandbox - BAR", sandbox_bar_path %><br> 

<p>
<%= link_to "22 Lost Contracts", storyboard_number_misplaced_path %> 
</p>

<h3>Commissioned employees by Job Title</h3>
<ul>
	<li>General Sales Manager</li>
	<li>Service Advisor</li>
	<li>Sales Representative</li>
	<li>Sales Valet</li>
	<li>Sales Manager</li>
	<li>Parts Manager</li>
</ul>

<h3>Commissioned employees by Contract Type</h3>
<ul>
	<li>Assistant Service Manager (ASM) Compensation Program</li>
	<li>Service Drive Vehicle Salesperson Compensation Program</li>
	<li>Sales Manager Pay Plan</li>
	<li>Vehicle Aquistion (sp) Sales Manager Pay Plan</li>
	<li>Financial Services Manager Compensation Program</li>
	<li>Floor Sales Manager Compensation Program</li>
	<li>General Sales Manager Pay Plan</li>
	<li>Parts Manager Compensation Program</li>
	<li>Parts Manager</li>
	<li>Vehicle Salesperson Compensation Plan</li>
	<li>Salesperson Compensation Plan</li>
	<li>Salesperson Compensation Program</li>
	<li>Finance Compensation Program</li>
	<li>Assistant Parts Manager Compensation Program</li>
</ul>



