<div id="<%= dom_id document_dump %>">
  <p>
    <strong>Date:</strong>
    <%= document_dump.date %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= document_dump.title %>
  </p>

  <p>
    <strong>Pos:</strong>
    <%= link_to document_dump.pos.filename, document_dump.pos if document_dump.pos.attached? %>
  </p>

</div>
