<h1>Editing document dump</h1>

<%= render "form", document_dump: @document_dump %>

<br>

<div>
  <%= link_to "Show this document dump", @document_dump %> |
  <%= link_to "Back to document dumps", document_dumps_path %>
</div>
